* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

table{  
    height: auto;
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}  

th,td{  
padding: 18px;
text-align: left;
border-radius: 75px;
font-size:14px ;
border-bottom: 1px solid rgba(0,0,0,0.1);
/* border-right:1px solid rgba(0,0,0,0.1) ; */
}

th {
  font-size: 15px;
}